.navbar-wrapper
  .container
    .navbar.navbar-inverse
      .navbar-inner
        =link_to('BRAND', get_bloginfo('url'), ['class'=>'brand'])
        .nav
          %li.active
            =link_to('HOME', '#')
          %li
            =link_to('ABOUT', '#')
